BOT_TOKEN = ""
ACCESS_BOT_TOKEN = ""
MAX_BOT_TOKEN = ""
HOST = ""

DB_URL = ""

ERROR_CHANNEL = ""

BOT_IN_RECONSTRUCTION = "False"
PROJECT_HOST = "localhost"
PROJECT_PORT = "8453"
IS_LOCAL_BOT = "True"
COUNT_WORKERS = "1"


WEBHOOK_PATH = "/bot{token}"
WEBHOOK_PATH_MAX = "/max/webhook"
WEBHOOK_URL = "${HOST}${WEBHOOK_PATH}"
LOG_LEVEL = "debug"
ALLOWED_HOSTS = ["*"]
CELERY_REDIS_DB_NUMBER = "0"
AIOGRAM_REDIS_DB_NUMBER = "1"
REDIS_PASSWORD = ""
REDIS_HOST = ""
REDIS_PORT = ""
REDIS = "redis://:${REDIS_PASSWORD}@${REDIS_HOST}:${REDIS_PORT}"
HTTP_PROXY = ""
HTTPS_PROXY = ''
AIOGRAM_SECRET = ''

GOOGLE_SERVICE_ACCOUNT_PATH = "services/google/secret.json"

# I-TAT API Configuration
ITAT_API_BASE_URL = "http://i1.i-tat.ru:33080/sa-001-itatka/hs/dispatcher/v1"
ITAT_API_USERNAME = "dispatcher"
ITAT_API_PASSWORD = ""



