env/
max_bot_template/
__pycache__/
.env
.env.dist
venv
keys/*.json
*-schedule*
exports/*
!exports/
media/*
!media/.gitkeep
migrations/
*.db
services/google/secret.json
.vscode
.kiro
cleanup_drive.py
final_checklist.md

# Файлы IDE
.idea/
*.vscode/
.ruff_cache

# Project folders
analysis/
docs/
examples/
test_results/
tests/
.pytest_cache/
.hypothesis/
