env/
max_bot_template/
__pycache__/
.env
venv
keys/*.json
*-schedule*
exports/*
!exports/
alembic.ini
media/
migrations/
*.db
services/google/secret.json
.vscode
.kiro
cleanup_drive.py

# Файлы IDE
.idea/
*.vscode/
.ruff_cache

# Project folders
analysis/
docs/
examples/
test_results/
tests/
.pytest_cache/
.hypothesis/